@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color-scheme: dark light;
} */

html {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
		source-sans-pro, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-2xl font-semibold;
	}
	h3 {
		@apply font-semibold text-xl;
	}
	select {
		@apply text-base;
	}
	a:not(.btn) {
		@apply hover:underline;
	}
	blockquote {
		@apply items-center bg-neutral-200 p-2 pl-4 text-sm my-2 italic rounded-md overflow-hidden flex;
		@apply relative after:absolute after:h-full after:w-1.5 after:left-0 after:top-0 after:bg-indigo-300;
		@apply before:content-["🛸_<"] before:pr-2 before:whitespace-nowrap before:not-italic;
	}
}

@layer components {
	.btn {
		display: inline-flex;
		gap: theme(spacing.2);
		align-items: center;
		justify-content: center;
		border-radius: theme(borderRadius.md);
		padding: theme(spacing.2) theme(spacing.8);
	}

	.btn:hover {
		background-color: theme(backgroundColor.neutral.200);
	}

	.btn:active {
		background-color: theme(backgroundColor.neutral.100);
	}

	.btn-primary {
		border-width: theme(borderWidth.DEFAULT);
		color: theme(textColor.emerald.950);
		border-color: theme(borderColor.emerald.600);
		background-color: theme(backgroundColor.emerald.400);
	}
	.btn-primary:hover {
		border-color: theme(borderColor.emerald.700);
		background-color: theme(backgroundColor.emerald.500);
	}

	.btn-secondary {
		border-width: theme(borderWidth.DEFAULT);
		color: theme(textColor.white);
		border-color: theme(borderColor.indigo.600);
		background-color: theme(backgroundColor.indigo.400);
	}
	.btn-secondary:hover {
		border-color: theme(borderColor.indigo.700);
		background-color: theme(backgroundColor.indigo.500);
	}

	.btn-danger {
		border-width: theme(borderWidth.DEFAULT);
		color: theme(textColor.red.950);
		border-color: theme(borderColor.red.600);
		background-color: theme(backgroundColor.red.400);
	}
	.btn-danger:hover {
		border-color: theme(borderColor.red.700);
		background-color: theme(backgroundColor.red.500);
	}

	.btn:disabled,
	.input:disabled {
		background-color: theme(backgroundColor.neutral.200);
		border-color: theme(borderColor.neutral.300);
		color: theme(textColor.neutral.400);
	}

	.input {
		background-color: theme(backgroundColor.neutral.50);
		border-width: theme(borderWidth.DEFAULT);
		border-color: theme(borderColor.neutral.400);
		border-radius: theme(borderRadius.md);
		padding: theme(padding.2);
	}

	.input-label {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.card {
		background-color: theme(backgroundColor.neutral.50);
		border-width: theme(borderWidth.DEFAULT);
		border-color: theme(borderColor.neutral.300);
		border-radius: theme(borderRadius.md);
		padding: theme(padding.4);
	}
}
