@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color-scheme: dark light;
} */

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'IBM Plex Sans',
		Segoe UI, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-2xl font-semibold;
	}
	h3 {
		@apply font-semibold text-xl;
	}
	select {
		@apply text-base;
	}
	a:not(.btn) {
		@apply hover:underline;
	}
	blockquote {
		@apply items-center bg-bg-2 p-2 px-4 text-sm my-2 italic rounded-md overflow-hidden flex;
		@apply relative after:absolute after:h-full after:w-1.5 after:left-0 after:top-0 after:bg-blue-light;
		@apply before:content-["🛸_<"] before:pr-2 before:whitespace-nowrap before:not-italic;
	}
  blockquote.danger {
    @apply after:bg-red-light;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2 rounded-lg px-8 py-2;
    @apply disabled:bg-bg-2 disabled:text-tx-3 disabled:hover:bg-bg-2 disabled:border disabled:border-ui;
  }

  .btn-sm {
    @apply text-sm px-2 py-1;
  }

  .btn-xs {
    @apply text-xs px-1 py-0.5;
  }

  .btn-ghost {
    @apply hover:bg-ui active:bg-ui-2;
  }

  .btn-blue {
    @apply text-base-paper bg-blue-light hover:bg-blue;
  }

  .btn-green {
    @apply text-base-paper bg-green-light hover:bg-green;
  }

  .btn-red {
    @apply text-base-paper bg-red-light hover:bg-red;
  }

  .input {
    @apply border border-ui bg-bg rounded-lg p-2 placeholder:text-tx-3;
    @apply focus:outline-none focus:ring focus:ring-yellow-light;
    @apply disabled:bg-bg-2 disabled:text-tx-3 disabled:hover:bg-bg-2;
  }

  .input-label {
    @apply flex flex-col w-full px-2 text-sm;
  }
  .input-label > .input {
    @apply -mx-2 text-base;
  }
}
